<html>
  <head>
    <title>
      Tic Tac Toe Rack
    </title>
  </head>
  <body>
    <%= BoardPresenter.generate_board(@board) %>
    <%= BoardPresenter.generate_message(@message) %>
    <%= BoardPresenter.generate_play_again(@board) %>
  </body>
</html>

